$pad : 7px;
$font: 18px;
$backG: rgb(236, 243, 241);
$backGDarker: rgb(190, 196, 194);
$ftitle: 25px;
$radius: 10px;
$border: rgb(4, 23, 44);
$buttonCol: rgba(46, 111, 196, 0.781);
$buttonColHover: rgb(40, 96, 170);
$buttonColActive: rgb(30, 74, 131);
$fcol: rgb(0, 0, 0);
$fcolHover: rgb(193, 197, 182);
$fcolActive: rgb(226, 235, 203);
$linkCol: rgb(10, 34, 4);
$linkColHover: rgb(25, 71, 14);
$linkColActive: rgb(46, 112, 30);
$shadowCol: rgb(25, 61, 58);
$succesCol: rgb(7, 65, 7);
$succesColHov: rgb(7, 121, 22);
$succesColAct: rgb(84, 189, 52); 
$failedCol: rgb(66, 6, 6);
$failedColHov: rgb(129, 7, 7);
$failedColAct: rgb(209, 20, 20); 