$pad : 7px;
$font: 18px;
$ftitle: 25px;
$radius: 10px;
$border: rgb(4, 23, 44);
$buttonCol: rgba(46, 111, 196, 0.781);
$buttonColHover: rgb(40, 96, 170);
$buttonColActive: rgb(30, 74, 131);
$fcol: rgb(0, 0, 0);
$fcolHover: rgb(193, 197, 182);
$fcolActive: rgb(226, 235, 203);
$linkCol: rgb(10, 34, 4);
$linkColHover: rgb(25, 71, 14);
$linkColActive: rgb(46, 112, 30);
$shadowCol: rgb(25, 61, 58);