@mixin flex($just:center, $ali:center) {
    display: flex;
    justify-content: $just;
    align-items: $ali;
}
@mixin transition($name: color, $ease: ease-out){
    transition: $name, 0.2s $ease;
}
