.textPageInfo {
	text-decoration: underline;
	padding: $pad 0;
	text-align: center;
}
.containerConnexion {
	@include flex;
}
.connexion {
	@include flex;
	background-color: rgb(186, 219, 173);
	width: 35%;
	.errorConnection {
		display: none;
		font-size: 0.8rem;
		font-style: italic;
		&.show {
			display: inline-block;
		}
		&.refused {
			animation: wizz 0.3s;
			color: red;
			transition: color 0.2s ease-out;
		}
	}
}

.inscription {
	width: 35%;
	background-color: rgb(173, 193, 219);
}
